{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="container text-center">
        <div class="row">
            <!-- Spacer -->
            <div class="col-1"></div>

                <div class="col-7">
                    <br/>
                    <h2> Zappy bolts! </h2>
                    <!-- bolts -->
                    {%for bolt in bolts %}
                        <div class="alert alert-warning container" role="alert">
                            <div class="row">
                                
                                <div class="col-2 d-flex flex-column align-items-center">
                                    {% if bolt.user.profile.profile_image %}
                                        <img src="{{ bolt.user.profile.profile_image.url }}" class="img-fluid rounded-circle" style="width: 70px; height: 80px;">
                                    {% else %}
                                        <img src="{% static 'images/blankprofile.jpg' %}" class="img-fluid rounded-circle" style="width: 70px; height: 80px;">
                                        
                                    {% endif %}
                                        <p style="font-size: 12px;">@{{bolt.user}}</p>
                                         
                                </div>

                                
                                <div class="text-right col-9">
                                    <br/>
                                    <div style="display: flex; align-items: center;">
                                        <span>{{bolt.body}}</span>
                                    </div>
                                    <br/>
                                    <small class="text-muted text-left">
                                        
                                        {{bolt.get_number_likes}} 
                                        {% if user in bolt.likes.all %}
                                            <a href="{% url 'bolt_like' bolt.id %}">
                                            <i class="fa-solid fa-heart" style="color:red"></i></a>
                                                
                                        {% else %}
                                            <a href="{% url 'bolt_like' bolt.id %}">
                                            <i class="fa fa-heart-o" style="color:red"></i></a>
                                        {% endif %}
                                        &nbsp;
                                        <a href="{% url 'bolt_share' bolt.id %}"><i class="fa-solid fa-share" style="color:grey" ></i></a>
                                        &nbsp;
                                        
                                        <span style="font-size: 10px;">- {{bolt.created_at}}</span>
                                    </small> 
                                    
                                </div>
                            </div>      
                        </div>
                
                {% endfor %}     

            </div>

            {% if user.is_authenticated %}
                <!-- Post box -->
                <div class = " container col-3 mt-3">
                    </br></br>
                    <h4>Create Bolts</h4>
                    {% if form %}
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-secondary">Zap!</button>
                    </form>
                    {% endif %}
                </div>
            {% endif %}

        </div>
    </div>

    



{% endblock %}
