{% extends 'base.html' %}

{% block content %}

<h1> Zappy bolts! </h1><br/>
    <div class="container text-center">
        <div class="row">
            <div class = "col-8">

                <!-- bolts -->
                {%for bolt in bolts %}
                    <div class="alert alert-warning" role="alert">
                        {{bolt.body}}<br/>
                        <small class="text-muted">
                             By @{{bolt.user}} at {{bolt.created_at}} - {{bolt.get_number_likes}} Likes

                            {% if user in bolt.likes.all %}
                                <a href="{% url 'bolt_like' bolt.id %}">
                                    <i class="fa-solid fa-heart" style="color:red"></i>
                                </a>
                            {% else %}
                                <a href="{% url 'bolt_like' bolt.id %}">
                                    <i class="fa fa-heart-o" style="color:red"></i>
                                </a>
                            {% endif %}

                            <a href="{% url 'bolt_share' bolt.id %}"> Share </a>

                        </small> 
                    </div>
                {% endfor %}     

            </div>

            <!-- Post box -->
            <div class = "col-4">
                {% if form %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-secondary">Zap!</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>

    



{% endblock %}
