{% load static %} 
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e0cc12;">
    <div class="container-fluid">
        <!-- Nav bar logo (incase logo change) -->
      <a class="navbar-brand" href="/"><img src="{% static 'images/logo.jpg' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Zappy</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <!-- Nav bar items -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile_list' %}">Find new Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          
      

        </ul>
        <!-- Search -->
        <form class="d-flex me-3" role="search" action="{% url 'search' %}" method="get">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_query">

          <button class="btn btn-outline-success"  type="submit">Search</button>
        </form>

        <!-- Nav bar profile -->
        {% if user.is_authenticated %}
          <!-- Profile Picture -->
          {% if user.profile.profile_image %}
            <a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <img src="{{ user.profile.profile_image.url }}" alt="" width="30" height="30"></a>
          {% else %}
          <a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <img src="{% static 'images/blankprofile.jpg' %}" alt="" width="30" height="30"></a>
          {% endif %}
              <!-- dropdown bar items -->
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{% url 'profile' request.user.id %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}" id="logout-button">logout</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'profile_settings' %}">Settings</a></li>
              </ul>
        {% else %}
          <a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <img src="{% static 'images/blankprofile.jpg' %}" alt="" width="30" height="30"></a>
            <ul class="dropdown-menu dropdown-menu-end">  
              <li><a href="login">Login</a></li>
            </ul>
        {% endif %}
          
       
      </div>
    </div>
  </nav>
